

.navbar {
  background: #cc0033;
  /* box-shadow: 0 2px 2px white; */
  z-index: 99;
  width: 100%;
  margin: 0 0 0px;
  overflow: auto;
}

li{
  color: #cc0033;
}

body {
  font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
}

.white-link:link, .white-link:active, .white-link:visited, .white-link:hover {
  color: white;
}